<a href="https://vk.com/im?sel={{peer.id}}&z={{photoLinkZ}}" target="_blank">
  <img
    src="{{url}}"
    alt="{{text}}"
    width="{{width}}"
    height="{{height}}"
    loading="lazy"
    class="photo"
  />
</a>
