<a
  href="https://vk.com/im?sel={{peer.id}}&msgid={{message.id}}"
  target="_blank"
>
  <img
    src="{{url}}"
    width="{{width}}"
    height="{{height}}"
    loading="lazy"
    class="sticker"
  />
</a>
