<a href="https://vk.com/im?sel={{peer.id}}&z={{videoLinkZ}}" target="_blank">
  <figure>
    <figcaption>Video: {{video.title}}</figcaption>
    <img
      class="thumbnail"
      src="{{url}}"
      width="{{width}}"
      height="{{height}}"
      loading="lazy"
      alt="{{video.title}}"
    />
  </figure>
</a>
